@media screen and (max-width: 1366px){
    .page__header {
        background-position: top left 538px;
        padding: 0px 110px 121px 110px;
      }

      .header-image_positioned {
        left: 607px;
      }
      
      .header-image_transparent1 {
        left: 0px;
      }
      
      .header-image_transparent2 {
        left: 0px;
      }
      
      .header-image_transparent3 {
        left: 296px;
      }

      .pets__image_rectangle {
        width: 343px;
      }
      
      .pets__image_circle {
        left: 78px;
      }
      
      .pets__image_pet1 {
        position: absolute;
        left: 106px;
      }
      
      .pets__image_sm-circle {
        position: absolute;
        left: 383px;
      }
      
      .pets__image_pet2 {
        position: absolute;
        left: 392px;
      }

      .help-description {
        padding-right: 207px;
      }
      
      .help-description__container {
        padding-left: 693px;
      }

      .help-types {
        width: 1366px;
      }

      .help-variants {
        padding-left: 118px;
        padding-right: 118px;
       }

       .options {
        padding-left: 284px;
      }

      .animals-list {
        padding-left: 110px;
      }

      .all-pets-link {
        padding-left: 561px;
      }

      .social-wrapper {
        padding-left: 304px;
      }

      .finance {
        width: 1366px;
      }

      .separator__line {
        width: 576px;
      }

      .support {
        width: 1366px;
      }

      .support__link {
        padding-left: 402px;
      }

      .volunteering {
        padding-right: 207px;
      }

      .volunteering-wrapper {
        padding-left: 693px;
      }

      .news {
        width: 1366px;
      }

      .news-wrapper {
        padding-left: 304px;
      }

      .news__link {
        padding-left: 304px;
      }

      .footer {
        width: 1366px;
      }
      
      .footer__wrapper {
        padding-left: 402px;
      }

      .thanks {
        width: 1366px;
        background-image: url("./images/36164\(sm1\).png");
      }

      .outer-wrapper {
        width: 1366px;
      }
      
      .pets-header {
        padding-left: 110px;
      }
  }


  @media screen and (max-width: 639px){
    
    body {
      font-size: 14px;
  }

  .page__menu_icon {
    display: block;
  }

  .page__menu {
    padding-top: 24px;
  }

  .top-menu {
    display: none;
  }

  .top-social {
    padding-top: 24px;
  }

  .top-social__link_mobile {
    width: 32px;
  }

  .top-wrapper {
    width: 300px;
    justify-content: space-between;
    align-items: center;
  }

  .promo-container{
    padding-top: 20px;
  }

  .promo-container__title {
    font-size: 30px;
    line-height: 36px;
  }

  .promo-container__description {
    width: 211px;
    font-size: 12px;
    margin-top: 0px;
  }

  .promo-container__goal {
    width: 158px;
    padding-top: 20px;
    position: relative;
    z-index: 5;
  }

  .header-image_positioned {
    width: 165px;
    top: 251px;
    left: 144px;
  }

  .page__header {
    background-image: url("./images/dog_2\(sm\).png");
    background-repeat: no-repeat;
    background-position: top left 135px;
    width: 300px;
    padding: 0px 30px 28px 30px;
  }

  .page__menu {
    padding-right: 0px;
    }

    .top-social__item:nth-child(1) {
      margin-right: 22px;
    }

    .header-image_transparent1 {
        width: 174.78px;
        height: 55.8px;
        top: 270px;
        left: 0px;
      }
      
      .header-image_transparent2 {
        width: 155.81px;
        height: 31.1px;
        top: 326px;
        left: 0px;
      }
      
      .header-image_transparent3 {
        width: 138.3px;
        height: 31.1px;
        top: 357px;
        left: 79px;
      }

      .promo-container__details {
        font-size: 16px;
        line-height: 19px;
        padding-top: 94px;
        width: 300px;
        text-align: center;
      }

      .promo-container__button {
        margin: 20px auto 0px auto;      
        font-size: 18px;
        line-height: 40px;
        width: 194px;
        padding: 0px 19px;
        text-align: center;
        box-sizing: border-box;

      }

      .help-description {
        flex-direction: column;
        width: 360px;
        padding: 16px 0px 0px 0px;
    
      }

      .help-description__container {
        padding-left: 0px;
        padding-top: 24px;
        width: 300px;
        margin: 0 auto;
      }

      .pets__image_rectangle {
        width: 144px;
        height: 193px;
      }

      .pets__image_pet1 {
        width: 172px;
        left: 59px;
        top: 10px;
      }

      .pets__image_circle {
        width: 193px;
        left: 46px;
      }

      .pets__image_sm-circle {
        width: 91px;
        left: 160px;
        top: 126px;
      }

      .pets__image_pet2 {
        width: 85px;
        left: 164px;
        top: 129px;
      }

      .help-description__images {
        height: 200px;
    }

    .wrapper__title {
      font-size: 16px;
      line-height: 120%;
      width: 300px;
      text-align: center;
      margin-bottom: 16px;
    }

    .wrapper__text {
      width: 300px;
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 140%;
    }

    .help-types {
      width: 360px;
    }

    .help-variants__image {
      width: 80px;
    }

    .help-variants {
      width: 300px;
      height: 487px;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;
      padding-left: 30px;
      padding-right: 30px;
    }

    .help-variants__text {
      padding-top: 8px;
      font-size: 14px;
      line-height: 20px;
      width: 142px;
    }

    .help-variants__item {
      width: 142px;
    }

    .help-types__title {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      padding-top: 32px;
      padding-bottom: 24px;
    }

    .help-variants__item_last {
      margin: 0 auto;
    }

    .separator__line {
      width: 109px;
    }

    .separator {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 40px;
    }

    .separator__image {
      width: 54px;
    }

    .separator__image_volunteering {
      width: 30px;
    }

    .options {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      padding-left: 30px;
      padding-top: 30px;
      margin-right: 0;
    }

    .options__title {
      font-size: 16px;
      padding-bottom: 16px;
      text-align: center;
      width: 300px;
    }
    
    .options__text {
      line-height: 22px;
      font-size: 14px;
      line-height: 140%;
      width: 300px;
      padding-bottom: 32px;
    }

    .our-pets {
      font-size: 20px;
      padding-top: 8px;
      padding-bottom: 16px;
    }

    .animals-list {
      width: 360px;
      padding-left: 0;
      justify-content: center;
      height: 1883px;
    }

    .animal-card {
      width: 300px;
      height: 613px;
      padding: 14px 14px 18px 14px;
    }

    .animal-card__image {
      width: 272px;
      height: 284px;
    }

    .animal-card__name {
      padding-top: 12px;
      padding-bottom: 6px;
    }

    .animal-card__description_gray {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .animal-card__button {
      margin-top: 20px;
      bottom: 18px;
      left: 29px;
      padding: 5px 13px 5px 13px;
      font-weight: 500;
      font-size: 18px;
    }

    .animal-card__button_highlighted {
      bottom: 68px;
      left: 63px;
      padding: 5px 17px 5px 17px;
      font-weight: 500;
      font-size: 18px;
    }

    .animal-card-main-page {
      display: none;
    }

    .all-pets-link {
      padding-left: 58px;
      padding-top: 22px;
    }

    .all-pets-link::after {
      top: 24px;
    }

    .social-wrapper {
      flex-direction: column;
      padding-left: 30px;
      padding-top: 40px;
      padding-bottom: 28px;
    }

    .social-wrapper__text {
      width: 300px;
      font-size: 14px;
      line-height: 140%;
    }

    .social-wrapper__list {
      width: 112px;
      padding-left: 94px;
    }

    .social-links__image {
      width: 32px;
    }

    .social-links__item {
      padding-right: 0px;
    }

    .finance {
      width: 360px;
    }

    .finance__separator {
      padding-top: 22px;
    }

    .finance__title {
      font-size: 16px;
      line-height: 24px;
      padding-top: 30px;
      padding-bottom: 16px;
    }

    .finance__description {
      font-size: 16px;
      line-height: 24px;
      width: 300px;
      margin: 0 auto;
    }

    .finance-wrapper {
      flex-direction: column;
      width: 300px;
      padding-bottom: 16px;
      margin: 0 auto;
    }

    .finance-column__title {
      padding-bottom: 16px;
      font-size: 20px;
    }

    .finance-column__button {
      margin: 16px auto 32px auto;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 40px; 
      padding: 0 19px 0 19px;
      text-align: center;
    }

    .finance-column__title_second {
      padding-top: 0;
    }

    .support {
      width: 360px;
    }

    .support-type {
      width: 300px;
    }

    .support-type__wide {
      width: 300px;
      padding-left: 0;
    }

    .support-type__title {
      font-size: 16px;
      padding-top: 24px;
      padding-bottom: 16px;
    }

    .support__link {
      padding-left: 72px;
      padding-top: 16px;
    }

    .support-type__title_auto {
      text-align: center;
    }

    .support-type__text_auto {
      width: 300px;
    }

    .support-type__button {
      display: block;
      margin: 16px auto 43px auto;
    }

    .separator-volunteering {
      padding-top: 0;
    }

    .volunteering {
     flex-direction: column;
     padding: 24px 0px 24px 0px;
    }

    .volunteering__images {
      height: 212px;
    }

    .volunteering-wrapper { 
      width: 300px;
      padding-left: 0;
      padding-top: 0;
      margin: 0 auto;
    }

    .support-type__button_volunteering {
      margin-bottom: 8px;
    }

    .news {
      width: 360px;
    }

    .news__title {
      font-size: 16px;
      padding-top: 16px;
      line-height: 24px;
    }

    .news-wrapper {
      width: 300px;
      padding-top: 24px;
      padding-left: 0;
      align-items: flex-start;
      margin: 0 auto;
    }

    .news-wrapper__image {
      width: 79px;
    }

    .news-wrapper__text_last {
      padding-bottom: 0;
    }

    .news__link {
      padding-top: 9px;
      padding-left: 77px;
      padding-bottom: 16px;
      line-height: 40px;
    }

    .footer {
      width: 360px;
    }

    .footer__title {
      font-size: 16px;
      padding-top: 32px;
      text-align: center;
      line-height: 24px;
    }

    .footer__wrapper {
      width: 299px;
      padding-top: 24px;
      padding-left: 30px;
    }

    .footer__about {
      font-size: 14px;
      line-height: 20px;
    }

    .footer__subtitle {
      padding-top: 32px;
      padding-bottom: 18px;
      font-size: 18px;
      line-height: 21px;
    }

    .footer__social-text {
      padding-top: 0;
      font-size: 16px;
      line-height: 140%;
    }

    .footer__social_wrapper {
      padding-top: 24px;
      display: flex;
      padding-bottom: 24px;
      width: 300px;
      justify-content: space-between;
    }

    .social-links__item {
      padding-right: 0;
    }
    
    .social-links__item_first {
      padding-right: 24px;
    }
    
    
    .footer__social-links {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
    }

    .thanks {
      width: 360px;
      height: 267px;
      background-image: url("./images/36164_1\(sm2\).png");
    }

    .thanks__image_rectangle {
      top: 39px;
      height: 212px;
    }

    .thanks__image_paw {
      position: absolute;
      top: 141px;
      left: 188px;
      width: 42px;
    }

    .thanks__text {
      padding-top: 107px;
      padding-left: 30px;
      font-size: 30px;
      line-height: 36px;
      width: 158px;
    }

    .footer__nav {
      width: 300px;
    }

    .footer__left-col {
      flex-direction: column;
      height: 165px;
      align-content: space-between;
    }

    .footer__right-col {
      height: 52px;
      flex-direction: column;
      align-content: space-between;
      padding-left: 11px;
    }

    .options__type {
      width: 300px;
    }

    /* Forms */

    .modal-home {
      width: 360px;
      height: 728px;
      box-shadow: none;
      border-radius: 0px;
      padding: 30px;
      margin: 0 auto;
    }

   
    .form-title {
      font-size: 22px;
    }

     form textarea, .input {
        width: 300px;
    }

    .form-buttons {
        width: 168px;
        height: 80px;
        flex-direction: column;
        margin: 0 auto;
    }

    .form-button {
        font-size: 18px;
        padding: 0px 16px;
        line-height: 30px;
    }

    .button_colorless {
      width: 143px;
      font-size: 18px;
      padding: 0px 13px;
      line-height: 30px;
      align-self: center;
    }

    .form-contacts {
        padding-bottom: 24px;
    }

    .modal-temporary {
      width: 360px;
      height: 856px;
      box-shadow: none;
      border-radius: 0px;
      padding: 30px;
      margin: 0 auto;
    }

    .modal-car {
      width: 360px;
      height: 661px;
      box-shadow: none;
      border-radius: 0px;
      padding: 30px;
      margin: 0 auto;
    }

    .car__form-buttons, .volunteering__form-buttons {
        width: 234px;
    }

    .car__form-buttons, .volunteering__form-buttons {
        margin-top: 24px;
    }

    .modal-volunteering {
      width: 360px;
      height: 778px;
      box-shadow: none;
      border-radius: 0px;
      padding: 30px;
      margin: 0 auto;
    }

    .form-volunteering input[type="text"],
    .form-volunteering input[type="tel"],
    .form-volunteering textarea  {
      width: 300px;
      
  }

  .form_radio {
      width: 300px;
  }

  .modal-where {
      width: 360px;
      height: 382px;
      padding: 30px;
      margin: 0 auto;
  }

  .modal-where__subtitle, .modal-where__text {
      width: 300px;
  }

  .form-home__subtitle, .form-temporary__subtitle, .form-car__subtitle, .form-volunteering__subtitle {
    width: 300px;
  } 

  .container {
    width: 300px;
  }

  .car__form-buttons {
    padding-top: 0;
  }

  .volunteering__form-buttons {
    padding-top: 0;
  }

  .wards__wrapper {
    height: 7686px;
    padding-top: 24px;
    padding-bottom: 36px;
  
  }

  .outer-wrapper {
    width: 360px;
  }

  .pets-header {
    width: 300px;
    height: 88px;
    padding-left: 30px;
    padding-top: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .pets-header__title {
    font-size: 20px;
    margin-left: 28px;
    margin-bottom: 24px;
  }
  .pets-header__link {
    display: none;
  }
  .pets-header__select-block {
    margin-left: 100px;
  }

  .pets-header__image {
    top: -4px;
  }

  .where-show {
    top: 0;
    left: 0;
  }
  
  .car-show {
    top: 0;
    left: 0;
  }

  .volunteering-show {
    top: 0;
    left: 0;
  }

  }