@media screen and (max-width: 1366px) {
    .page__header {
        background-position: top left 538px;
        padding: 0px 110px 121px 110px;
      }

      .header-image_positioned {
        left: 607px;
      }
      
      .header-image_transparent1 {
        left: 0px;
      }
      
      .header-image_transparent2 {
        left: 0px;
      }
      
      .header-image_transparent3 {
        left: 296px;
      }

      .pets__image_rectangle {
        width: 343px;
      }
      
      .pets__image_circle {
        left: 78px;
      }
      
      .pets__image_pet1 {
        position: absolute;
        left: 106px;
      }
      
      .pets__image_sm-circle {
        position: absolute;
        left: 383px;
      }
      
      .pets__image_pet2 {
        position: absolute;
        left: 392px;
      }

      .help-description {
        padding-right: 207px;
      }
      
      .help-description__container {
        padding-left: 693px;
      }

      .help-types {
        width: 1366px;
      }

      .help-variants {
        padding-left: 118px;
        padding-right: 118px;
       }

       .options {
        padding-left: 284px;
      }

      .animals-list {
        padding-left: 110px;
      }

      .all-pets-link {
        padding-left: 561px;
      }

      .social-wrapper {
        padding-left: 304px;
      }

      .finance {
        width: 1366px;
      }

      .separator__line {
        width: 576px;
      }

      .support {
        width: 1366px;
      }

      .support__link {
        padding-left: 402px;
      }

      .volunteering {
        padding-right: 207px;
      }

      .volunteering-wrapper {
        padding-left: 693px;
      }

      .news {
        width: 1366px;
      }

      .news-wrapper {
        padding-left: 304px;
      }

      .news__link {
        padding-left: 304px;
      }

      .footer {
        width: 1366px;
      }
      
      .footer__wrapper {
        padding-left: 402px;
      }

      .thanks {
        width: 1366px;
        background-image: url(./images/36164\(sm1\).png);
      }
  }


  @media screen and (max-width: 360px) {
    
    body {
      font-size: 14px;
  }

  .page__menu_icon {
    display: block;
  }

  .page__menu {
    padding-top: 24px;
  }

  .top-menu {
    display: none;
  }

  .top-social {
    padding-top: 24px;
  }

  .top-social__link_mobile {
    width: 32px;
  }

  .top-wrapper {
    width: 300px;
    justify-content: space-between;
    align-items: center;
  }

  .promo-container{
    padding-top: 20px;
  }

  .promo-container__title {
    font-size: 30px;
    line-height: 36px;
  }

  .promo-container__description {
    width: 211px;
    font-size: 12px;
    margin-top: 0px;
  }

  .promo-container__goal {
    width: 158px;
    padding-top: 20px;
  }

  .header-image_positioned {
    width: 165px;
    top: 251px;
    left: 144px;
  }

  .page__header {
    background-image: url(./images/dog_2\(sm\).png);
    background-repeat: no-repeat;
    background-position: top left 135px;
    width: 300px;
    padding: 0px 30px 28px 30px;
  }

  .page__menu {
    padding-right: 0px;
    }

    .top-social__item:nth-child(1) {
      margin-right: 22px;
    }

    .header-image_transparent1 {
        width: 174.78px;
        height: 55.8px;
        top: 270px;
        left: 0px;
      }
      
      .header-image_transparent2 {
        width: 155.81px;
        height: 31.1px;
        top: 326px;
        left: 0px;
      }
      
      .header-image_transparent3 {
        width: 138.3px;
        height: 31.1px;
        top: 357px;
        left: 79px;
      }

      .promo-container__details {
        font-size: 16px;
        line-height: 19px;
        padding-top: 94px;
        width: 300px;
        text-align: center;
      }

      .promo-container__button {
        margin: 20px auto 28px auto;      
        font-size: 18px;
        line-height: 40px;
        width: 117px;
        padding: 0px 19px;
        text-align: center;
      }

  }