@media screen and (max-width: 1366px) {
    .page__header {
        background-position: top left 538px;
        padding: 0px 110px 121px 110px;
      }

      .header-image_positioned {
        left: 607px;
      }
      
      .header-image_transparent1 {
        left: 0px;
      }
      
      .header-image_transparent2 {
        left: 0px;
      }
      
      .header-image_transparent3 {
        left: 296px;
      }

      .pets__image_rectangle {
        width: 343px;
      }
      
      .pets__image_circle {
        left: 78px;
      }
      
      .pets__image_pet1 {
        position: absolute;
        left: 106px;
      }
      
      .pets__image_sm-circle {
        position: absolute;
        left: 383px;
      }
      
      .pets__image_pet2 {
        position: absolute;
        left: 392px;
      }

      .help-description {
        padding-right: 207px;
      }
      
      .help-description__container {
        padding-left: 693px;
      }

      .help-types {
        width: 1366px;
      }

      .help-variants {
        padding-left: 118px;
        padding-right: 118px;
       }

       .options {
        padding-left: 284px;
      }

      .animals-list {
        padding-left: 110px;
      }

      .all-pets-link {
        padding-left: 561px;
      }

      .social-wrapper {
        padding-left: 304px;
      }

      .finance {
        width: 1366px;
      }

      .separator__line {
        width: 576px;
      }

      .support {
        width: 1366px;
      }

      .support__link {
        padding-left: 402px;
      }

      .volunteering {
        padding-right: 207px;
      }

      .volunteering-wrapper {
        padding-left: 693px;
      }

      .news {
        width: 1366px;
      }

      .news-wrapper {
        padding-left: 304px;
      }

      .news__link {
        padding-left: 304px;
      }

      .footer {
        width: 1366px;
      }
      
      .footer__wrapper {
        padding-left: 402px;
      }

      .thanks {
        width: 1366px;
        background-image: url(./images/36164\(sm1\).png);
      }
  }