@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
      url('./fonts/Gilroy-Light.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
      url('./fonts/Gilroy-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
      url('./fonts/Gilroy-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Gilroy-SemiBold.woff2') format('woff2'),
      url('./fonts/Gilroy-SemiBold.woff') format('woff');
  }

  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
      url('./fonts/Gilroy-Bold.woff') format('woff');
  }

  body {
      font-family: "Gilroy", sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #242424;
  }

  .page__header {
    background-color: #E5E5E5;
    background-image: url(./images/dog_1.png);
    background-repeat: no-repeat;
    background-position: top left 815px;
  }

.page__menu {
  padding-top: 54px;
  padding-right:290px;
  }

.top-menu__item:nth-child(odd) {
  padding-right: 28px;
}

.top-menu__item:nth-child(2) {
  padding-right: 190px;
}

.top-social__item:nth-child(1) {
  margin-right: 28px;
}

  .top-wrapper {
    display: flex;
  }

  .top-social {
    display: flex;
    padding-top: 39px;
  }

  .top-menu__item {
    display: inline;
    vertical-align: middle;
  }

  .top-menu__link {
    text-decoration: none;
    font-weight: 600;
    line-height: 19px;
    color: #242424;
  }

.page__header {
  width: 1146px;
  padding: 0px 387px 121px 387px;
}



.promo-container{
  padding-top: 69px;
}

.promo-container__title {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: bold;
  line-height: 87px;
}

.promo-container__description {
  color: #6B6B6B;
  font-weight: 300;
  margin-top: -3px;
}

.promo-container__goal {
  color: #474747;
  line-height: 140%;
  padding-top: 12px;
  font-weight: 600;
  width: 659px;
}

.promo-container__details {
  color: #C78100;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding-top: 44px;
  width: 428px;
  position: relative;
  z-index: 11;
}

.button {
  background: #FBC832;
  border-radius: 58px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 33px;
  border: none;
  outline: none;
  color: #242424;
}

.button:hover {
  background: #FFDF86;
  box-shadow: 0px 2px 4px #CCCCCC;
  color: #000000;
}

.button:active {
  background: #FFBB0C;
  background-blend-mode: multiply;  
  color: #000000;
}

.button:disabled {
  color: #6B6B6B;
  background: #FFE28E;
}

.promo-container__button {
  margin-top: 44px;
  margin-bottom: 151px;
  position: relative;
  z-index: 10;
  text-decoration: none;
  display: block;
  width: 117px;
  padding: 11px 33px;
}

.header-image_positioned {
  position: absolute;
  top: 470px;
  left: 884px;
}

.header-image_transparent1 {
  position: absolute;
  top: 374px;
  left: 277px;
  opacity: 0.5;
}

.header-image_transparent2 {
  position: absolute;
  top: 566px;
  left: 275px;
  opacity: 0.6;  
}

.header-image_transparent3 {
  position: absolute;
  top: 671px;
  left: 573px;
  opacity: 0.5;  
}

.help-description {
  display: flex;
  padding: 54px 507px 75px 0px;
}

.wrapper__title {
  color: #C78100;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  width: 466px;
  text-align: center;
  margin-bottom: 25px;
}

.wrapper__text {
  width: 466px;
  margin-bottom: 23px;
  line-height: 22px;
}

  .help-description__images {
    position: relative;
    width: 853px;
    height: 521px;
}

.pets__image_rectangle {
  position: absolute;
}

.pets__image_circle {
  position: absolute;
  left: 332px;
}

.pets__image_pet1 {
  position: absolute;
  left: 366px;
  top: 30px;
}

.pets__image_sm-circle {
  position: absolute;
  left: 638px;
  top: 295px;
}

.pets__image_pet2 {
  position: absolute;
  left: 646px;
  top: 303px;
}

.help-description__container {
  padding-left: 946px;
  padding-top: 70px;
}

.help-types {
  background-color: #E5E5E5;
  width: 1920px;
}

.help-types__title {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 45px;
}

.help-variants {
  display: flex;
  width: 1130px;
  justify-content: space-between;
  padding-left: 388px;
}

.help-variants__item {
  width: 166px;
  text-align: center;
}

.help-variants__text {
  text-align: center;
  padding-top: 21px;
  line-height: 22px;
}

.help-variants__image:hover {
  box-shadow: 0px 2px 4px #CCCCCC;
  background: #FFFFFF;
  border-radius: 90px;
}

.help-variants__image:active {
  background: #F8ECCB;
}

.separator__line {
  background-color: #EEBF3A;
  height: 1px;
  width: 807px;
  border: transparent;
  margin: 0;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 875px;
  padding-left: 584px;
  padding-top: 72px;
}

.options__type {
  width: 389px;
}

.options__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 24px;
}

.options__text {
  line-height: 22px;
}

.our-pets {
  font-size: 28px;
  font-weight: 300;
  padding-top: 72px;
  padding-bottom: 30px;
  text-align: center;
}

.animals-list {
  padding-left: 387px;
  width: 1145px;
  height: 1434px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.animal-card {
  background-color: #FFFFFF;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  padding: 16px 16px 20px 17px;
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 695px;
  box-sizing: border-box;
  position: relative;
}

.animal-card__image {
  height: 356px;
  width: 335px;
}

.animal-card__name {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(214,214,214,0.5);
}

.animal-card__description_gray {
  font-weight: 500;
  font-size: 14px;
  color: #6B6B6B;
  padding-top: 13px;
  padding-bottom: 9px;
}

.animal-card__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
}

.animal-card__button_highlighted {
  position: absolute;
  bottom: 78px;
  left: 80px;
}

.animal-card__button {
  border-radius: 58px;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 35px;
  border: 2px solid #FFC41E;
  background-color: white;
  margin: 0 auto;
  margin-top: 17px;
  position: absolute;
  bottom: 20px;
  left: 36px;
  outline: none;
  color: #242424;
}

.animal-card__button:hover {
  border: 3px solid #FFBC00;
  box-shadow: 0px 2px 4px #CCCCCC;
  color: #000000;
}

.animal-card__button:active {
  background: rgba(255, 196, 30, 0.2);
  border: 3px solid #FFBC00;
  box-sizing: border-box;
  color: #242424;
}

.animal-card__button:disabled {
  color: #6B6B6B;
  border: 2px solid #B3B3B3;
}

.all-pets-link {
  text-decoration-line: underline;
  color: #AD7F00;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  padding-left: 838px;
  display: block;
  padding-top: 20px;
  position: relative;
}

.all-pets-link::after {
  content: url(./images/icon.png);
  margin-left: 16px;
  position: absolute;
  top: 22px;
}

.social-wrapper {
  display: flex;
  padding-left: 581px;
  padding-top: 65px;
  padding-bottom: 72px;
}

.social-wrapper__text {
  width: 583px;
  font-size: 18px;
  line-height: 24px;  
}

.social-wrapper__list {
  width: 130px;
  display: flex;
  justify-content: space-between;
  padding-left: 38px;
}

.finance {
  width: 1920px;
}

.finance__separator {
  padding-top: 46px;
}

.finance__title {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding-top: 57px;
  padding-bottom: 32px;
}

.finance__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width: 758px;
  margin: 0 auto;
  color: #6B6B6B;
}

.finance-wrapper {
  display: flex;
  justify-content: space-between;
  width: 875px;
  padding-bottom: 54px;
  margin: 0 auto;
}

.finance-column__title {
  padding-top: 40px;
  padding-bottom: 19px;
  font-size: 28px;
  font-weight: 300;
}

.finance-column__list, .finance-column__text {
  line-height: 175%;
}

.finance-column__item_bold {
  font-weight: bold;
}

.finance-column__button {
  margin-top: 24px;
  display: block;
  text-decoration: none;
  width: 160px;
}

.finance-list__ordered {
 list-style-type:decimal;
 list-style-position: inside;
}

.support {
  width: 1920px;
  background-color: #E5E5E5;
}

.support__separator {
  padding-top: 49px;
  padding-bottom: 13px;
}

.support-type {
  width: 660px;
  margin: 0 auto;
}

.support-type__wide {
  width: 690px;
  padding-left: 30px;
}

.support-type__title {
  font-weight: 600;
  font-size: 28px;
  padding-top: 40px;
  padding-bottom: 24px;
}

.support-type__text {
  line-height: 140%;
}

b {
  font-weight: bold;
}

.support-list {
  list-style-type:disc;
  list-style-position: inside;
  line-height: 170%;
}

.support-type__text_gray {
  color: #6F6C6C;
}

.support__link {
  display: block;
  padding-left: 630px;
  padding-top: 16px;
  text-decoration-line: underline;
  color: #AD7F00;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.support-type__button {
  margin-top: 24px;
}

.support-type__text_auto {
  width: 680px;
}

.separator-auto {
  padding-top: 78px;
}

.separator-volunteering {
  padding-top: 82px;
}

.volunteering {
  display: flex;
  padding: 0px 507px 50px 0px;
}

.volunteering-wrapper { 
  width: 466px;
  padding-left: 920px;
  padding-top: 70px;
}

.volunteering__images {
  position: relative;
  height: 521px;
}

.news {
  width: 1920px;
}

.news-wrapper {
  width: 778px;
  padding-top: 40px;
  padding-left: 604px;
  display: flex;
  align-items: center;
}

.news__title {
  font-weight: 600;
  font-size: 28px;
  padding-top: 56px;
  text-align: center;
}

.news-wrapper__image {
  padding-right: 35px;
}

.news-wrapper__text {
  line-height: 140%;
  padding-bottom: 5px;
}

.news__link {
  display: block;
  padding-top: 35px;
  padding-left: 604px;
  padding-bottom: 63px;
  color: #AD7F00;
  font-weight: 500;
  font-size: 20px;
}

.footer {
  background-color: #E5E5E5;
  width: 1920px;
}

.footer__title {
  font-weight: 600;
  font-size: 28px;
  padding-top: 56px;
  text-align: center;
}

.footer__wrapper {
  width: 680px;
  padding-top: 27px;
  padding-left: 702px;
}

.footer__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.footer__subtitle {
  padding-top: 25px;
  padding-bottom: 26px;;
  font-size: 22px;
}

.footer__phones {
  line-height: 140%;
}

.contacts-list {
  line-height: 185%;
}

.contacts-list__item {
  color: #242424;
  text-decoration: none;
}

.footer__social-text {
  padding-top: 40px;
}

.social-links__item {
  padding-right: 29px;
}

.thanks {
  width: 1920px;
  height: 741px;
  background-image: url(./images/36164_1.png);
  position: relative;
}

.thanks__image_rectangle {
  mix-blend-mode: soft-light;
  position: absolute;
  top: 119px;
}

.thanks__image_paw {
  position: absolute;
  top: 373px;
  left: 480px;
}

.thanks__text {
  padding-top: 303px;
  padding-left: 134px;
  font-size: 64px;
  line-height: 77px;
  font-weight: bold;
  color: #FFFFFF;
  width: 346px;
}

.footer__nav {
  width: 1141px;
  margin: 0 auto;
  display: flex;
}

.bottom-menu__item {
  display: inline;
}

.footer__left-col {
  display: flex;
  justify-content: space-between;
  width: 876px;
}

.footer__right-col {
  width: 143px;
  display: flex;
  justify-content: space-between;
  padding-left: 122px;
}

.bottom-menu {
  padding-top: 40px;
}

.bottom-menu__link_left {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #474747;
}

.bottom-menu__link_right {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #242424;
}

.footer__privacy {
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
  color: #B3B3B3;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
}

.top-social__link_hover:hover {
  background: #FFD458;
  box-shadow: 0px 4px 4px rgba(113, 113, 113, 0.2);
  border-radius: 40px;
}

.top-social__link_hover:active {
  background: #FFBC00;
}

.social-links__image_hover:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px #CCCCCC;
  border-radius: 40px;
}

.social-links__image_active:active {
  background: #F8ECCB;
}

.footer__social-links {
  margin-top: 18px;
  margin-bottom: 52px;
}

/* Forms */

.form-home__header, .form-temporary__header, .form-car__header, .form-volunteering__header, .modal-where__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEBF3A;
}

.modal-home {
  width: 525px;
  height: 681px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.modal-temporary {
  width: 525px;
  height: 780px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.modal-car {
  width: 525px;
  height: 611px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.modal-volunteering {
  width: 525px;
  height: 700px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.modal-where {
  width: 525px;
  height: 363px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
}

.form-home, .form-temporary, .form-car, .form-volunteering, .modal-where__wrapper {
  padding: 30px 40px;
}

.form-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  color: #B3B3B3;
  padding-bottom: 18px;
}

.form-home__subtitle, .form-temporary__subtitle, .form-car__subtitle, .form-volunteering__subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  padding-top: 16px;
  padding-bottom: 32px;
  width: 402px;
}

.modal-where__subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  padding-top: 16px;
  padding-bottom: 5px;
  width: 402px;
}

.modal-where__text {
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  padding-bottom: 32px;
  width: 402px;
}

form input[type="text"] {
  margin-bottom: 16px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #474747;
  opacity: 0.7;
  padding-bottom: 2px;
}

.input {
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 2px;
  width: 445px;
  height: 40px;
}

.input_extended {
  height: 76px;
}

.form-contacts {
  font-size: 14px;
  line-height: 140%;
  padding-top: 24px;
  padding-bottom: 25px;
}

.form-contacts__link {
  text-decoration: none;
  color: #474747;
}

.form-home__required_text {
  font-size: 14px;
  line-height: 140%;
  color: #B3B3B3;
  padding-bottom: 22px;
}

input::placeholder {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  opacity: 0.7;
  padding-right: 9px;
  padding-left: 9px;
}

textarea::placeholder {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #6B6B6B;
  opacity: 0.7;
  padding-right: 9px;
  padding-left: 9px;
}

.button_colorless {
    border-radius: 58px;
    font-weight: 500;
    font-size: 20px;
    padding: 7px 35px;
    border: 2px solid #FFC41E;
    background-color: white;
    outline: none;
    color: #242424;
}

.button_colorless:hover {
  border: 3px solid #FFBC00;
  box-shadow: 0px 2px 4px #CCCCCC;
  color: #000000;
}

.button_colorless:active {
  background: rgba(255, 196, 30, 0.2);
  border: 3px solid #FFBC00;
  box-sizing: border-box;
  color: #242424;
}

.button_colorless:disabled {
  color: #6B6B6B;
  border: 2px solid #B3B3B3;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-temporary__additional {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #B3B3B3;
}

.form-temporary__additional_gratitude {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #B3B3B3;
  padding-top: 5px;
  padding-bottom: 25px;
}

.form__request {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  color: #242424;
  padding-top: 16px;
}

.car__form-buttons {
  padding-top: 32px;
}

.form_radio {
  padding-bottom: 30px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  line-height: 140%;
  color: #6B6B6B;
  width: 380px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid #FFC41E;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: white;
}

.container input:checked ~ .checkmark {
  background-color: #FFC41E;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.form_radio input[type="radio"]:checked ~ .radio__text { 
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #242424;
}

.modal-where__form-contacts {
  font-size: 14px;
  line-height: 140%;
  padding-bottom: 25px;
}

.modal-where__link {
  text-decoration: none;
  color: #474747;
  font-weight: bold;
}